/* Import local fonts not to download extra files from the web */
@font-face {   
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-display: swap;
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
}