:root {
    /* Declaring some variables to be able to change the values if needed */
    --colour-green: #c5f82a; 
    --colour-grey-700: hsl(0, 0%, 20%);
    --colour-grey-800: hsl(0, 0%, 12%);
    --colour-grey-900: hsl(0, 0%, 8%);

    --main-font-size: 16px;
    --paragraph-font-size: 14px;
    --font-family: 'Inter', monospace;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --line-height: 1.2;
}
body {
    height: 100vh; /* Making body proportions by only visible area of user */
    width: 100vw;

    display: flex; /* Centring article and footer */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
html {
    font-size: var(--main-font-size);
    font-family: var(--font-family);
    text-align: center;
    line-height: var(--line-height);

    background-color: var(--colour-grey-900);
    color: #fff;
}
main {
    box-sizing: border-box;
    width: 24rem;
    padding: 2.5rem;
    border-radius: 0.75rem;

    background-color: var(--colour-grey-800);
}
header p {
    color: var(--colour-green);
    font-weight: 600;
    margin-bottom: 2rem;
}
nav {
    display: flex;
    flex-direction: column;
    row-gap: var(--paragraph-font-size);
}
nav section {
    border-radius: 0.5rem;
    height: 2.875rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--font-weight-bold);
    background-color: var(--colour-grey-700);

    transition: all 500ms ease-in-out 0s;
}
nav section:hover { /* Making link container able to response */
    background-color: var(--colour-green);
    color: var(--colour-grey-900);

    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: inherit;
}
footer {
    margin: 0;
}
footer a {
    color: var(--colour-green);

    transition: all 500ms ease-in-out 0s;
}
footer a:hover { /* Hover state for links in footer for user understanding, that it's responsive element */
    color: #c99b86;
}
img {
    width: 5.5rem;
    margin-bottom: 2rem;

    border-radius: 50%;
}
p {
    font-size: var(--paragraph-font-size);
}
h1 {
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 0.5rem;
}
.description-text {
    margin-bottom: 1.5rem;
}

@media (prefers-reduced-motion: reduce) { /* Making different transitions for people, who prefers reduced motion */
  footer a {
    transition: all 3s linear 0s;
  }
  .section-list section {
    transition: all 4s linear 0s;
  }
}